.blog code {
  color: green;
}

.blog h2 {
  font-size: 3rem !important;
  font-family: "Bebas Neue", sans-serif;
}

.blog {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  padding-bottom: 9vh;
}

.content {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .blog {
    margin: 0 0.5rem 0.5rem 1rem;
  }
  .content {
    width: 100%;
  }
  .content img {
    width: 100%;
  }
  .blog h2 {
    font-size: 1.4rem !important;
    padding-top: 0;
  }
}
