.authdetails h6 {
  font-weight: 500;
}

.authtext {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cover {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.blog code {
  color: green;
}

@media screen and (max-width: 768px) {
  .blog {
    margin: 0 2rem 2rem 2rem;
  }
  .content {
    width: 100%;
  }
  .content img {
    width: 100%;
  }
}
