.blog code {
  color: green;
}

.blog h2 {
  font-size: 1.6rem !important;
  padding-top: 1rem;
}

@media screen and (max-width: 768px) {
  .blog {
    margin: 0 0.5rem 0.5rem 1rem;
  }
  .content {
    width: 100%;
  }
  .content img {
    width: 100%;
  }
  .blog h2 {
    font-size: 1.4rem !important;
    padding-top: 0;
  }
}
